<li id="custom-<%= custom.id %>">
  <span class="name">
    <%= custom.id %>
    <%= link_to custom.name, admins_custom_path(custom) %>
    <% if custom.name.empty? %>
      <%= link_to "名称未設定", admins_custom_path(custom) %>
    <% end %>
  </span>
  <p>
    <%= link_to custom.user.email, admins_user_path(custom.user) %>
    <span>
      <%= link_to "削除", admins_custom_path(custom), method: :delete, data: { confirm: "本当によろしいですか？" }, class: "delete" %>
    </span>
  </p>
  <span class="parts">
    <%= "#{custom.cpu} / #{custom.cooler} / #{custom.gpu} / #{custom.memory} / #{custom.hdd} / #{custom.ssd} /
         #{custom.m2} / #{custom.case} / #{custom.motherboard} / #{custom.psu} / #{custom.os} /
         #{custom.peripheral}".truncate(200) %>
  </span>
  <span class="amount">合計：<% amount = custom.cpu_price + custom.gpu_price + custom.os_price + custom.memory_price +
                                      custom.case_price + custom.m2_price + custom.ssd_price + custom.hdd_price +
                                      custom.psu_price + custom.motherboard_price + custom.cooler_price + 
                                      custom.peripheral_price %>
                          <%= number_to_currency(amount, :locale => 'ja') %></span>
  <span class="timestamp">
    <%= time_ago_in_words(custom.updated_at) %>前に保存
  </span>
</li>